#homepage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#knowladge {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#proyects {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#resume {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#contact {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.container {
    max-width: 1080px;
    margin: 1rem auto;
}