#homepage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#knowladge {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#proyects {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#resume {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#contact {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.container {
    max-width: 1080px;
    margin: 1rem auto;
}

.titles {
    font-family: 'Raleway', sans-serif;
    transform: translateX(-0.75em);
    transition: transform 200ms;
    &::before {
        content: '#';
        display: inline-block;
        width: 0.75em;
        color: $primary;
        opacity: 0;
        transition: opacity 200ms;
    }
    &:hover {
        transform: none;
    }
    &:hover::before {
        opacity: 1;
    }
}