    $dark-transparent: rgba(0, 0, 0, .5);
    $white: #fff;
    $light-white: #f2f2f2;
    $primary: #7CCBBA;
    $link-color: #60BBA2;
    $link-hover: #519C87;
    $dark: #3E3E3E;
    $dark-1: #2B2B2B;