    $dark-transparent: rgba(0, 0, 0, .5);
    $white: #fff;
    $light-white: #f2f2f2;
    $primary: #7CCBBA;
    $link-color: #60BBA2;
    $link-hover: #519C87;
    $dark: #3E3E3E;
    $dark-1: #2B2B2B;

    .dark {
        color: #171515;
    }

    .white {
        color: #fff;
    }

    .pink {
        color: #CD6799;
    }

    .blue {
        color: #264de4;
    }

    .blue_1 {
        color: #474A8A;
    }

    .sky_blue {
        color: #33D5E2;
    }

    .orange {
        color: #e34c26;
    }