.about-me {
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;

    .about__box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 1rem;
        background-color: $light-white;
        border-radius: 5px;
        box-shadow: 3px 3px 3px $dark-transparent;
        &__inline {
            margin: 10px 0px;
            flex: 1;
        }

        .about__image {
            width: 100%;
            max-width: 400px;
            filter: invert(1);
            border-radius: 5px;
            padding: 1rem;
        }

        .about__title {
            text-align: left;
            transform: translateX(-0.75em);
            transition: transform 200ms;
            &::before {
                content: '#';
                display: inline-block;
                width: 0.75em;
                color: $primary;
                opacity: 0;
                transition: opacity 200ms;
            }
            &:hover {
                transform: none;
            }
            &:hover::before {
                opacity: 1;
            }
        }

        .about__content {
            padding: 1rem;
            font-weight: bold;
        }

        .about__title, .about__content {
            font-family: 'Raleway', sans-serif;
        }
    }
    @media screen and (max-width: 768px) {
        & {
            margin:0px;
        }
    
        & .about__box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            .about__image {
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: 100%;
                min-width: 200px;
            }
        }
    }
}