.about-me {
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;

    .about__box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        background-color: var(--box-color);
        border-radius: 5px;
        box-shadow: 3px 3px 3px $dark-transparent;
        &__inline {
            margin: 10px 0px;
            flex: 1;
        }

        .about__image {
            width: 100%;
            max-width: 400px;
            border-radius: 5px;
            padding: 1rem;
        }

        .about__title {
            text-align: left;
            @extend .titles;
        }

        .about__content {
            padding: 1rem;
            font-weight: bold;
        }

        .about__title, .about__content {
            font-family: 'Raleway', sans-serif;
        }
    }
    @media screen and (max-width: 768px) {
        & {
            margin:0px;
        }
    
        & .about__box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            .about__image {
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: 100%;
                min-width: 200px;
            }
        }
    }
}