.contact {
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        padding: 1rem;
        background-color: $light-white;
        border-radius: 5px;
        box-shadow: 3px 3px 3px $dark-transparent;
        &__title {
            font-family: 'Raleway', sans-serif;
            font-size: 2.3em;
            transform: translateX(-0.75em);
            transition: transform 200ms;
            &::before {
                content: '#';
                display: inline-block;
                width: 0.75em;
                color: $primary;
                opacity: 0;
                transition: opacity 200ms;
            }
            &:hover {
                transform: none;
            }
            &:hover::before {
                opacity: 1;
            }
        }
        &__flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        &__item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            &__icon {
                min-width: 100%;
                overflow: hidden;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                &--linkedin {
                    color: #0072b1;
                }
                &--github {
                    color: #171515;
                }
                &--facebook {
                    color: #4267B2;
                }
                &--instagram {
                    background: #d6249f;
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &__box {
                    width: 100%;
                    max-width: 20rem;
                    transition: transform .5s, filter .5s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }

                &__text {
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.8rem;
                    font-weight: bolder;
                    text-align: center;
                    color: $dark-1;
                }
            }
        }
    }
}