.knowladge {
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        background-color: $light-white;
        color: $white;
        padding: 1rem;
        border-radius: 3px;
        box-shadow: 3px 3px 3px $dark-transparent;
        color: $dark-1;

        &__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 6fr));
        }

        &__title {
            font-family: 'Raleway', sans-serif;
            font-size: 2.3em;
            transform: translateX(-0.75em);
            transition: transform 200ms;
            &::before {
                content: '#';
                display: inline-block;
                width: 0.75em;
                color: $primary;
                opacity: 0;
                transition: opacity 200ms;
            }
            &:hover {
                transform: none;
            }
            &:hover::before {
                opacity: 1;
            }
        }

        &__item {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
            margin: 3rem 1rem;
            padding: 1rem;
            &:nth-child(odd) {
                border-right: .1rem solid $primary;
            }
            &__icon {
                justify-self: center;
                align-self: center;
                margin: 1rem 0;              
            }
            &__desc {
                justify-self: center;
                align-self: center;
                font-size: 2em;
                font-family: 'Raleway', sans-serif;
                font-weight: bolder;
                &__title {
                    font-size: 1.4em;
                    font-family: 'Raleway', sans-serif;
                    font-weight: bolder;
                    transform: translateX(-0.75em);
                    transition: transform 200ms;
                    &::before {
                        content: '#';
                        display: inline-block;
                        width: 0.75em;
                        color: $primary;
                        opacity: 0;
                        transition: opacity 200ms;
                    }
                    &:hover {
                        transform: none;
                    }
                    &:hover::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__icon:hover {
        transition: all ease-in;
        animation: knowladge__icon;
        animation-duration: 2s;
        animation-fill-mode: forwards; 
    }

    .seo-anim:hover {
        animation: seo-anim;
        animation-duration: 2s;
        animation-fill-mode: forwards; 
    }

    @media screen and (max-width: 768px) {
        &__box__title {
            transform: translateX(0em);
            &::before {
                content: '';
            }
        }
        &__box__item__desc {
            order: -1;
        }

        &__box__grid {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
}