.footer {
    background-color: var(--box-color);
    padding: 30px;
    margin-top: 1rem;

    &__title {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        color: var(--font-color);
        font-size: 20px;
    }
}