.navbar {
    display: block;
    position: relative;
    margin-top: 10px;
    width: 100%;
    margin-left: auto;

    &__list {
        position: static;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        padding: 5px;
        justify-content: center;
        &--color {
            background-color: $dark-transparent;
        }
    }

    &__item {
        display: inline;
        margin: 3px;
        padding: 10px;
        &__link {
            text-decoration: none;
            padding: 10px 20px;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            border-radius: 3px;
            font-size: 1.5em;
        }

        &__link--color{
            background-color: $link-color;
            color: $white;
            transition: .7s;
            &:hover {
                background-color: $link-hover;
                color: $white;
            }
        }

        &__link--active {
            background-color: $dark;
            color: $white;
            &:hover {
                background-color: $dark-1;
                color: $white;
            }
        }
    }
    #myLinks {
        display: none;
      }
}