.navbar {
    margin-top: 1rem;
    width: 100%;
    margin-left: auto;

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        padding: 5px;
        justify-content: center;
        &--color {
            background-color: $dark-transparent;
        }
    }

    &__item {
        display: inline;
        margin: 3px;
        padding: 10px;
        &__link {
            text-decoration: none;
            padding: 10px 20px;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            border-radius: 3px;
            font-size: 1.5em;
        }

        &__link--color{
            background-color: $link-color;
            color: $white;
            transition: .7s;
            &:hover {
                background-color: $link-hover;
                color: $white;
            }
        }

        &__link--active {
            background-color: $dark;
            color: $white;
            &:hover {
                background-color: $dark-1;
                color: $white;
            }
        }
        
        &__switch {
            display: flex;
            align-items: center;
            &__label {
                display: inline-block;
                position: relative;
                width: 3rem;
                height: 1.7rem;
            }
            &__input {
                display: none;
                &:checked + .navbar__item__switch--slider {
                    background-color: $dark-1;
                }
                &:checked + .navbar__item__switch--slider:before {
                    transform: translateX(8px);
                }
            }
            &--slider {
                background-color: #7CCBBA;
                width: 4rem;
                height: 2rem;
                bottom: 0;
                cursor: pointer;
                left: 0;
                position: absolute;
                top: 0;
                right: 0;
                transition: .5s;
                &:before {
                    background-color: #f2f2f2;
                    bottom: .5rem;
                    content: '';
                    left: .4rem;
                    position: absolute;
                    transition: .5s;
                    width: 1rem;
                    height: 1rem;
                }
            }
            &--round {
                border-radius: 1.3rem;
                &::before {
                    border-radius: 1.3rem;
                }
            }
            &--icon {
                display: flex;
                justify-content: end;
                align-items: center;
                height: 100%;
                font-size: 1.3rem;
                padding-right: .3rem;
            }
        }
    }
}  